


    <!-- remove this, it is just for jsfiddle -->
    <script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/directives/ui-grid.js"></script>
<script src="~/samplejs/JavaScript1.js"></script>
   
   
<body style="height:500px;" id="body" ng-app="myapp" ng-controller="MyCtrl">
    hai.... @*Button:<input type="button" name="btnClick" value="Click me" / > *@ 
    <div class="gridStyle" ui-grid="gridOptions"> </div>
</body>
